@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\000037}}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000313}}
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  font-family: 'Crimson Text', serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000321}}
  #header .logo {
    float: left;
    background-image: url("../icons/logo.svg");
    background-repeat: no-repeat;
    height: 30px;
    width: 240px;
    margin-top: 16px;
    margin-left: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000330}}
  #header .links {
    height: 100%;
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000333}}
    #header .links .link {
      margin-right: 36px;
      margin-top: 34px;
      padding-bottom: 3px;
      letter-spacing: 0.05em;
      font-size: 12px;
      font-style: italic;
      height: 12px;
      vertical-align: bottom;
      display: inline-block;
      color: #333;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: all 0.3s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000347}}
      #header .links .link:hover {
        color: #000;
        border-bottom-color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000355}}
#footer {
  position: fixed;
  right: 12px;
  bottom: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000359}}
  #footer a {
    cursor: pointer;
    margin-left: 24px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000365}}
    #footer a:hover {
      color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000371}}
.content {
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'EB Garamond', serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000384}}
#show .slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100%;
  min-height: 420px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000392}}
#show.slideshow {
  padding: 2px 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000394}}
  #show.slideshow .slide {
    float: left;
    padding: 0px 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003100}}
#show.fadeshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0; }

/*   content of page   */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003115}}
.backdrop {
  background-position: top center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003117}}
  .backdrop.about {
    background-image: url("../images/about-bg.jpg"); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003120}}
  .backdrop.contact {
    background-image: url("../images/contact-bg.jpg"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003125}}
h2 {
  font-size: 1.4em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.1em;
  margin-right: 0.3em;
  display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003133}}
h3 {
  font-size: 0.8em;
  font-weight: normal;
  text-transform: capitalize;
  margin: 0.2em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003139}}
.clearfix {
  display: block;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003143}}
.centered {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003159}}
.haze {
  border: 5px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  margin: 48px auto;
  width: 386px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003164}}
  .haze .cloud {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5px;
    padding: 32px 48px;
    width: 280px;
    font-size: 1em;
    line-height: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003172}}
    .haze .cloud .pronounce {
      margin-right: 0.2em;
      font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003176}}
    .haze .cloud p {
      margin-top: 1.2em;
      margin-bottom: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003181}}
  .haze .form {
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003183}}
    .haze .form input, .haze .form textarea {
      float: left;
      background-color: rgba(255, 255, 255, 0.5);
      border: none;
      margin: 5px 0px;
      padding: 5px;
      font-size: 16px;
      line-height: 20px;
      font-family: EB Garamond, serif;
      color: #777; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003193}}
      .haze .form input:focus, .haze .form textarea:focus {
        background-color: rgba(255, 255, 255, 0.7);
        color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003198}}
    .haze .form input {
      width: 125px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003201}}
    .haze .form .ditch {
      float: left;
      width: 10px;
      height: 1px;
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003207}}
    .haze .form textarea {
      width: 270px;
      overflow-x: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003211}}
    .haze .form .button {
      background-color: #fff;
      float: right;
      margin: 5px 0px;
      padding: 2.5px 5px;
      cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003218}}
    .haze .form .contactSection {
      width: 135px;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003223}}
  .haze .logical {
    margin: 10px 0px;
    font-size: 14px;
    font-style: italic; }
