@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000345}}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000352}}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  font-family: 'Crimson Text', serif;
  z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000361}}
  #header .logo {
    float: left;
    background-image: url("../icons/logo.svg");
    background-repeat: no-repeat;
    height: 30px;
    width: 240px;
    margin-top: 13px;
    margin-left: 32px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000370}}
  #header .links {
    height: 100%;
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000373}}
    #header .links .link {
      margin-right: 36px;
      margin-top: 34px;
      letter-spacing: 0.05em;
      font-size: 12px;
      font-style: italic;
      height: 12px;
      vertical-align: bottom;
      display: inline-block;
      cursor: pointer;
      color: #333333;
      text-decoration: none;
      transition: all 0.3s ease;
      border-bottom: 1px solid transparent;
      padding-bottom: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000330}}
      #header .links .link:hover {
        color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000320}}
      #header .links .link:hover {
        border-bottom-color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000385}}
  #header .navButton {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000393}}
#footer {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000398}}
  #footer a {
    cursor: pointer;
    color: #333333;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-left: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000330}}
    #footer a:hover {
      color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003104}}
.content {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Crimson Text', serif;
  z-index: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003118}}
#show .slide {
  height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003122}}
#show.slideshow {
  padding: 2px 1px;
  overflow-x: scroll;
  overflow-y: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003126}}
  #show.slideshow .slideshowBox {
    position: absolute;
    top: 0;
    bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003131}}
  #show.slideshow .mover {
    cursor: pointer;
    color: #cccccc;
    text-decoration: none;
    transition: all 0.3s ease;
    background-color: #333333;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #333333;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000339}}
    #show.slideshow .mover:hover {
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003145}}
    #show.slideshow .mover.advance {
      right: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003147}}
      #show.slideshow .mover.advance:after {
        content: ">"; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003151}}
    #show.slideshow .mover.retreat {
      left: 20px;
      opacity: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003154}}
      #show.slideshow .mover.retreat:after {
        content: "<"; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003159}}
  #show.slideshow .slide {
    float: left;
    padding: 0px 1px;
    min-height: 420px;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003164}}
    #show.slideshow .slide:hover + .ornaments {
      opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003168}}
  #show.slideshow .ornaments {
    position: relative;
    float: left;
    width: 0px;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003175}}
    #show.slideshow .ornaments:hover {
      opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003178}}
    #show.slideshow .ornaments.open {
      width: 270px;
      opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003181}}
      #show.slideshow .ornaments.open .describer {
        opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003184}}
      #show.slideshow .ornaments.open .ribbon {
        opacity: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003186}}
        #show.slideshow .ornaments.open .ribbon.chosen {
          opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003191}}
    #show.slideshow .ornaments .describer {
      transition: all 0.3s ease;
      opacity: 0;
      height: 100%;
      background-color: #efefef;
      color: #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003197}}
      #show.slideshow .ornaments .describer .closer {
        float: right;
        width: 20px;
        height: 20px;
        background-image: url("../images/closer.svg");
        background-size: contain;
        margin-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003205}}
      #show.slideshow .ornaments .describer h3 {
        margin-top: 4em;
        margin-bottom: 1em;
        font-size: 1.3em;
        display: inline-block;
        font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003212}}
      #show.slideshow .ornaments .describer p {
        font-size: 0.92em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003215}}
      #show.slideshow .ornaments .describer .metadata {
        color: #777;
        margin-top: 0.3em;
        margin-bottom: 0.3em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003220}}
      #show.slideshow .ornaments .describer label {
        margin-top: 2em;
        margin-bottom: 0.1em;
        font-size: 0.7em;
        font-weight: bold;
        text-transform: uppercase;
        float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003227}}
        #show.slideshow .ornaments .describer label.breathe {
          margin-top: 4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003231}}
      #show.slideshow .ornaments .describer .grid {
        float: right;
        margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003234}}
        #show.slideshow .ornaments .describer .grid img {
          width: 54px;
          height: 54px;
          margin: 2px;
          cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003239}}
          #show.slideshow .ornaments .describer .grid img.chosen {
            opacity: 0.7; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003244}}
      #show.slideshow .ornaments .describer .price {
        font-size: 1.3em;
        font-style: italic;
        text-align: right;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003252}}
      #show.slideshow .ornaments .describer .button {
        clear: both;
        float: right;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        background-color: #bbb;
        color: #fff;
        font-size: 0.7em;
        padding: 2px 6px;
        transition: all 0.3s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003262}}
        #show.slideshow .ornaments .describer .button:hover {
          background-color: #aaa; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003266}}
      #show.slideshow .ornaments .describer .staples {
        position: absolute;
        bottom: 10px;
        left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003270}}
        #show.slideshow .ornaments .describer .staples a {
          font-size: 0.8em;
          text-decoration: underline;
          float: left;
          cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003277}}
      #show.slideshow .ornaments .describer > * {
        margin-left: 20px;
        margin-right: 20px;
        float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003282}}
      #show.slideshow .ornaments .describer .quote {
        margin-top: 1em;
        padding: 0px 20px;
        font-style: italic;
        font-size: 1em;
        line-height: 1.3em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003288}}
        #show.slideshow .ornaments .describer .quote:before {
          font-weight: bold;
          font-size: 1.2em;
          content: '"'; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003293}}
        #show.slideshow .ornaments .describer .quote:after {
          font-weight: bold;
          font-size: 1.2em;
          content: '"'; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003300}}
    #show.slideshow .ornaments .ribbon {
      cursor: pointer;
      position: absolute;
      width: 60px;
      left: -68px;
      background-color: white;
      color: #555;
      padding: 8px;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003309}}
      #show.slideshow .ornaments .ribbon .phrase {
        display: inline-block;
        border-top: 1px solid #555;
        padding: 5px;
        text-align: center;
        font-size: 0.80em;
        word-spacing: 80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003316}}
        #show.slideshow .ornaments .ribbon .phrase.type {
          text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003320}}
      #show.slideshow .ornaments .ribbon.top {
        top: 80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003323}}
      #show.slideshow .ornaments .ribbon.bottom {
        top: 240px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003327}}
    #show.slideshow .ornaments .fa {
      cursor: pointer;
      color: #333333;
      text-decoration: none;
      transition: all 0.3s ease;
      position: absolute;
      bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000330}}
      #show.slideshow .ornaments .fa:hover {
        color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003332}}
      #show.slideshow .ornaments .fa.fa-facebook {
        left: -45px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003335}}
      #show.slideshow .ornaments .fa.fa-pinterest-p {
        left: -25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003342}}
#show.fadeshow .slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0; }

/*   content of page   */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003360}}
.backdrop {
  background-position: top center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003362}}
  .backdrop.about {
    background-image: url("../images/about-bg.jpg"); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003365}}
  .backdrop.contact {
    background-image: url("../images/contact-bg.jpg"); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003368}}
  .backdrop.ordering {
    background-image: url("../images/ordering-bg.jpg"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003373}}
h2 {
  font-size: 1.4em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.1em;
  margin-right: 0.3em;
  display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003381}}
h3 {
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.6em;
  text-transform: capitalize;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003388}}
.clearfix {
  display: block;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003392}}
.centered {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003395}}
.button {
  background-color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.8em;
  text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003405}}
.ditch {
  float: left;
  width: 10px;
  height: 1px;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003422}}
.haze {
  border: 4px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  margin: 96px auto;
  width: 386px;
  color: #555; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003428}}
  .haze .cloud {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5px;
    padding: 32px 48px;
    width: 280px;
    font-size: 0.92em;
    line-height: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003436}}
    .haze .cloud .pronounce {
      margin-right: 0.2em;
      font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003440}}
    .haze .cloud p {
      margin-top: 1.2em;
      margin-bottom: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003445}}
  .haze .form {
    overflow: hidden;
    margin: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003448}}
    .haze .form input, .haze .form textarea {
      float: left;
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid transparent;
      margin: 6px 0px;
      padding: 4px 6px;
      font-size: 0.92em;
      font-style: italic;
      line-height: 1.4em;
      font-family: 'Crimson Text', serif;
      color: #777; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003459}}
      .haze .form input:focus, .haze .form textarea:focus {
        background-color: rgba(255, 255, 255, 0.7);
        color: #000;
        outline: none;
        border-color: #777; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003466}}
    .haze .form input {
      width: 113px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003470}}
    .haze .form textarea {
      width: 250px;
      overflow-x: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003474}}
    .haze .form .button {
      float: right;
      margin: 6px 0px;
      padding: 6px 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003479}}
    .haze .form .contactSection {
      width: 127px;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003482}}
      .haze .form .contactSection a {
        cursor: pointer;
        color: #333333;
        text-decoration: none;
        transition: all 0.3s ease;
        border-bottom: 1px solid transparent;
        padding-bottom: 3px;
        padding-bottom: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000330}}
        .haze .form .contactSection a:hover {
          color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\0000320}}
        .haze .form .contactSection a:hover {
          border-bottom-color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003488}}
  .haze .logical {
    margin: 4px 0px 8px;
    font-size: 14px;
    font-style: italic;
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003496}}
.article {
  width: 720px;
  margin: 64px auto;
  color: #555; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003500}}
  .article h2 {
    margin: 2em 0 1em;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003504}}
  .article p {
    margin: 1em; }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 620px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003517}}
  #header .navButton {
    display: block;
    float: right;
    margin-top: 16px;
    margin-right: 16px;
    height: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003524}}
  #header .links {
    display: none;
    position: absolute;
    right: 0px;
    top: 60px;
    background-color: white;
    float: none;
    height: auto;
    z-index: 999; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003533}}
    #header .links.responsive-show {
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003536}}
    #header .links .link {
      display: inline-block;
      clear: both;
      float: left;
      margin: 0px;
      padding: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003546}}
  .content .haze {
    width: auto;
    margin: 32px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003549}}
    .content .haze .cloud {
      width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003553}}
    .content .haze .form input, .content .haze .form textarea {
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003556}}
    .content .haze .form h3 {
      line-height: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003559}}
    .content .haze .form .contactSection {
      margin-bottom: 0.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003564}}
  .content .article {
    margin: 32px;
    width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/aideux-slideshow\/scss\/index\.scss}line{font-family:\00003572}}
  #show.slideshow .ornaments .ribbon {
    left: -76px; } }
