$heading_height: 46px;
$logo_margin: 16px;
$logo_height: $heading_height - $logo_margin;
$content_top: $heading_height + 14px;
$link_font_size: 12px;
$link_padding: 36px;

$link_color: #333;
$link_hover: #000;
$link_anticolor: #CCC;
$link_antihover: #FFF;

$ribbon_width: 60px;
$ribbon_padding: 8px;

@mixin linkable{
    @include social;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    &:hover{
        border-bottom-color: $link_hover;
    }
}

@mixin social{
    cursor: pointer;
    color: $link_color;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover{
        color: $link_hover;
    }
}
@mixin antisocial{
    cursor: pointer;
    color: $link_anticolor;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover{
        color: $link_antihover;
    }
}


html, body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    height: 100%;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $heading_height;
    font-family: 'Crimson Text', serif;
    z-index: 2;
    
    .logo{
        float: left;
        background-image: url('../icons/logo.svg');
        background-repeat: no-repeat;
        height: $logo_height;
        width: 240px;
        margin-top: $heading_height - $logo_height - 3px;
        margin-left: 32px;
    }
    .links{
        height: 100%;
        float: right;
        .link{
            margin-right: $link_padding;
            margin-top: $heading_height - $link_font_size;
            letter-spacing: 0.05em;
            font-size: $link_font_size;
            font-style: italic;
            height: $link_font_size;
            vertical-align: bottom;
            display: inline-block;
            @include linkable;
        }
    }
    .navButton{
        display: none;
    }
}




#footer{
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 3;
    a{
        @include social;
        margin-left: 24px;
    }
}

.content{
    position: fixed;
    left: 0;
    top: $content_top;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Crimson Text', serif;
    z-index: 1;
}

#show{
    .slide{
        height: 100%;
    }
    
    &.slideshow{
        padding: 2px 1px;
        overflow-x: scroll;
        .slideshowBox{
            position: absolute;
            top: 0;
            bottom: 0;
        }
        .mover{
            @include antisocial;
            background-color: $link_color;
            width: 30px;
            height: 30px;
            font-size: 20px;
            font-weight: bold;
            line-height: 30px;
            border-radius: 15px;
            box-shadow: 0px 0px 5px $link_color;
            position: absolute;
            bottom: 20px;
            z-index: 1;
            text-align: center;
            &.advance{
                right: 20px;
                &:after{
                    content: ">";
                }
            }
            &.retreat{
                left: 20px;
                opacity: 0;
                &:after{
                    content: "<";
                }
            }
        }
        .slide{
            float: left;
            padding: 0px 1px;
            min-height: 420px;
            overflow: hidden;
            &:hover + .ornaments{
                opacity: 1;
            }
        }
        .ornaments{
            position: relative;
            float: left;
            width: 0px;
            height: 100%;
            opacity: 0;
            transition: all 0.3s ease;
            &:hover{
                opacity: 1
            }
            &.open{
                width: 360px;
                opacity: 1;
                .describer{
                    opacity: 1;
                }
                .ribbon{
                    opacity: 0;
                    &.chosen{
                        opacity: 1;
                    }
                }
            }
            .describer{
                transition: all 0.3s ease;
                opacity: 0;
                height: 100%;
                background-color: #eee;
                h2{
                    margin-top: 20px;
                    display: inline-block;
                }
                *{
                    margin-left: 20px;
                    margin-right: 20px;
                }
                .quote{
                    padding: 0px 20px;
                    font-style: italic;
                    font-size: 1em;
                    &:before{
                        font-weight: bold;
                        font-size: 1.4em;
                        content: '"';
                    }
                    &:after{
                        font-weight: bold;
                        font-size: 1.4em;
                        content: '"';
                    }
                }
            }
            .ribbon{
                cursor: pointer;
                position: absolute;
                width: 60px;
                left: -($ribbon_width + (1 * $ribbon_padding));
                background-color: white;
                color: #555;
                padding: $ribbon_padding;
                text-align: center;
                .phrase{
                    display: inline-block;
                    border-top: 1px solid #555;
                    padding: 5px;
                    text-align: center;
                    font-size: 0.80em;
                    word-spacing: 80px;
                    &.type{
                        text-transform: uppercase;
                    }
                }
                &.top{
                    top: 80px;
                }
                &.bottom{
                    top: 240px;
                }
            }
            .fa{
                @include social;
                position: absolute;
                bottom: 10px;
                
                &.fa-facebook{
                    right: 35px;
                }
                &.fa-pinterest-p{
                    right: 15px;
                }
            }
        }
    }
    &.fadeshow{
        .slide{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}



/*   content of page   */

.backdrop{
    background-position: top center;
    &.about{
        background-image: url('../images/about-bg.jpg');
    }
    &.contact{
        background-image: url('../images/contact-bg.jpg');
    }
    &.ordering{
        background-image: url('../images/ordering-bg.jpg');
    }
}

h2{
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.1em;
    margin-right: 0.3em;
    display: inline;
}
h3{
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.6em;
    text-transform: capitalize;
    margin: 0;
}
.clearfix{
    display: block;
    clear: both;
}
.centered{
    text-align: center;
}
.button{
    background-color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.8em;
}




$haze_color: rgba(255,255,255,0.5);
$haze_focus_color: rgba(255,255,255,0.7);
$haze_width: 280px;
$haze_padding: 48px;
$haze_margin: 5px;
$ditch_width: 10px;
$haze_input_padding: 6px;
$haze_form_margin: 8px;
$haze_input_border: 1px;

.haze{
    border: 4px solid $haze_color;
    background-color: transparent;
    margin: 2*$haze_padding auto;
    width: $haze_width + (2*$haze_padding) + (2*$haze_margin);
    color: #555;
    .cloud{
        background-color: $haze_color;
        margin: $haze_margin;
        padding: ($haze_padding/1.5) $haze_padding;
        width: $haze_width;
        font-size: 0.92em;
        line-height: 1.5em;
        
        .pronounce{
            margin-right: 0.2em;
            font-style: italic;
        }
        p{
            margin-top: 1.2em;
            margin-bottom: 1.2em;
        }
    }
    .form{
        overflow: hidden;
        margin: $haze_form_margin;
        input, textarea{
            float: left;
            background-color: $haze_color;
            border: $haze_input_border solid transparent;
            margin: $haze_input_padding 0px;
            padding: $haze_input_padding - 2 $haze_input_padding;
            font-size: 0.92em;
            font-style: italic;
            line-height: 1.4em;
            font-family: 'Crimson Text', serif;
            color: #777;
            &:focus{
                background-color: $haze_focus_color;
                color: #000;
                outline: none;
                border-color: #777;
            }
        }
        input{
            width: ($haze_width/2) - ($haze_form_margin) - ($ditch_width/2) - ($haze_input_padding*2) - ($haze_input_border*2);
        }
        .ditch{
            float: left;
            width: $ditch_width;
            height: 1px;
            display: inline-block;
        }
        textarea{
            width: $haze_width - ($haze_form_margin*2) - ($haze_input_padding*2) - ($haze_input_border*2);
            overflow-x: hidden;
        }
        .button{
            float: right;
            margin: $haze_input_padding 0px;
            padding: $haze_input_padding $haze_input_padding*2;
        }
        .contactSection{
            width: ($haze_width - ($haze_form_margin*2) - $ditch_width) / 2;
            float: left;
            a{
                @include linkable;
                padding-bottom: 2px; //needed because of bug in chrome
            }
        }
    }
    .logical{
        margin: 4px 0px 8px;
        font-size: 14px;
        font-style: italic;
        display: none; // Trying out removing
    }
}

.article{
    width: 720px;
    margin: 64px auto;
    color: #555;
    h2{
        margin: 2em 0 1em;
        display: block;
    }
    p{
        margin: 1em;
    }
}




// Responsive
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 620px) {
    #header{
        .navButton{
            display: block;
            float: right;
            margin-top: $logo_margin;
            margin-right: $logo_margin;
            height: $logo_height;
        }
        .links{
            display: none;
            position: absolute;
            right: 0px;
            top: $content_top;
            background-color: white;
            float: none;
            height: auto;
            z-index: 999;
            &.responsive-show{
                display: block;
            }
            .link{
                display: inline-block;
                clear: both;
                float: left;
                margin: 0px;
                padding: 16px;
            }
        }
    }
    .content{
        .haze{
            width: auto;
            margin: $logo_margin * 2;
            .cloud{
                width: auto;
            }
            .form{
                input, textarea{
                    width: 100%;
                }
                h3{
                    line-height: 1em;
                }
                .contactSection{
                    margin-bottom: 0.5em;
                }
            }
        }
        .article{
            margin: $logo_margin * 2;
            width: auto;
        }
    }
    #show{
        &.slideshow{
            .ornaments{
                .ribbon{
                    left: -($ribbon_width + (2 * $ribbon_padding));
                }
            }
        }
    }
}
