$heading_height: 46px;
$logo_height: $heading_height - 16px;
$link_font_size: 12px;
$link_padding: 36px;


body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

#header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $heading_height;
    font-family: 'Crimson Text', serif;
    
    .logo{
        float: left;
        background-image: url('../icons/logo.svg');
        background-repeat: no-repeat;
        height: $logo_height;
        width: 240px;
        margin-top: $heading_height - $logo_height;
        margin-left: 24px;
    }
    .links{
        height: 100%;
        float: right;
        .link{
            margin-right: $link_padding;
            margin-top: $heading_height - $link_font_size;
            padding-bottom: 3px;
            letter-spacing: 0.05em;
            font-size: $link_font_size;
            font-style: italic;
            height: $link_font_size;
            vertical-align: bottom;
            display: inline-block;
            color: #333;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: all 0.3s ease;
            &:hover{
                color: #000;
                border-bottom-color: #000;
            }
        }
    }
}

#footer{
    position: fixed;
    right: 12px;
    bottom: 12px;
    a{
        cursor: pointer;
        margin-left: 24px;
        color: #333;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover{
            color: #000;
        }
    }
}

.content{
    position: absolute;
    left: 0;
    top: $heading_height+14px;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'EB Garamond', serif;
}

#show{
    .slide{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        height: 100%;
        min-height: 420px;
    }
    
    &.slideshow{
        padding: 2px 1px;
        .slide{
            float: left;
            padding: 0px 1px;
        }
    }
    &.fadeshow{
        .slide{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}



/*   content of page   */

.backdrop{
    background-position: top center;
    &.about{
        background-image: url('../images/about-bg.jpg');
    }
    &.contact{
        background-image: url('../images/contact-bg.jpg');
    }
}

h2{
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.1em;
    margin-right: 0.3em;
    display: inline;
}
h3{
    font-size: 0.8em;
    font-weight: normal;
    text-transform: capitalize;
    margin: 0.2em 0;
}
.clearfix{
    display: block;
    clear: both;
}
.centered{
    text-align: center;
}




$haze_color: rgba(255,255,255,0.5);
$haze_focus_color: rgba(255,255,255,0.7);
$haze_width: 360px;
$haze_width: 280px;
$haze_padding: 48px;
$haze_margin: 5px;
$ditch_width: 10px;
$haze_input_padding: 5px;

.haze{
    border: 5px solid $haze_color;
    background-color: transparent;
    margin: $haze_padding auto;
    width: $haze_width + (2*$haze_padding) + (2*$haze_margin);
    .cloud{
        background-color: $haze_color;
        margin: $haze_margin;
        padding: ($haze_padding/1.5) $haze_padding;
        width: $haze_width;
        font-size: 1em;
        line-height: 1.5em;
        
        .pronounce{
            margin-right: 0.2em;
            font-style: italic;
        }
        p{
            margin-top: 1.2em;
            margin-bottom: 1.2em;
        }
    }
    .form{
        overflow: hidden;
        input, textarea{
            float: left;
            background-color: $haze_color;
            border: none;
            margin: $haze_input_padding 0px;
            padding: $haze_input_padding;
            font-size: 16px;
            line-height: 20px;
            font-family: EB Garamond, serif;
            color: #777;
            &:focus{
                background-color: $haze_focus_color;
                color: #000;
            }
        }
        input{
            width: ($haze_width/2) - ($ditch_width/2) - ($haze_input_padding*2);
        }
        .ditch{
            float: left;
            width: $ditch_width;
            height: 1px;
            display: inline-block;
        }
        textarea{
            width: $haze_width - ($haze_input_padding*2);
            overflow-x: hidden;
        }
        .button{
            background-color: #fff;
            float: right;
            margin: $haze_input_padding 0px;
            padding: $haze_input_padding/2 $haze_input_padding;
            cursor: pointer;
        }
        .contactSection{
            width: ($haze_width - $ditch_width) / 2;
            float: left;
        }
    }
    .logical{
        margin: 10px 0px;
        font-size: 14px;
        font-style: italic;
    }
}